.app__header {
    background-color: var(--color-black);
}

.app__header-h1{
    font-family: 'Avalen Rekas';
    color: #631F20;
    letter-spacing: 0.04em;
    line-height: 117px;
    font-size: 90px;
}

.app__header-img img {
    width: 80%;
}